<a href="https://colab.research.google.com/github/ArunVignesh75/ArunVignesh75/blob/main/KNN_train_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Social_Networks_Ads.csv using KNN

Importing the libraries

Importing the dataset

Splitting the dataset into the Training set and Test set

Feature Scaling

Fitting K-NN to the Training set

Predicting the Test set results

Making the Confusion Matrix

In [ ]:
import string
def ispangram(str):
   alphabet = "abcdefghijklmnopqrstuvwxyz"
   for char in alphabet:
      if char not in str.lower():
         return False
   return True
# main
string = input()
if(ispangram(string) == True):
   print("Yes")
else:
   print("No")

hello world
No

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
#from sklearn import datasets, neighbors
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions # used to plot the decision boundary of ml algorithms
from sklearn.model_selection import cross_val_score # import all the functions reqd for cross validation
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [ ]:
data1 = pd.read_csv("trainKNN.txt", header=None)
data1.columns = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
data1 = data1.drop('ID', axis=1) # Drop ID since irrelevant to predictions
test = pd.read_csv('testKNN.txt', header=None)
test.columns=['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type of glass']
test = test.drop('ID', axis=1)

In [ ]:
data1.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type of glass
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0              1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0              1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0              1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0              1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0              1

In [ ]:
data1.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type of glass
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516458,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [ ]:
data1.dtypes

RI               float64
Na               float64
Mg               float64
Al               float64
Si               float64
K                float64
Ca               float64
Ba               float64
Fe               float64
Type of glass      int64
dtype: object

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
 euclid_model = KNeighborsClassifier(i) # Square Euclidean distance model
 manhattan_model = KNeighborsClassifier(i) # distance model
 x_train = data1.drop(["Type of glass"], axis=1)
 y_train = data1["Type of glass"]
 euclid_model.fit(x_train,y_train) # Train models
 manhattan_model.fit(x_train, y_train)
 x_test = test.drop("Type of glass", axis=1) 
 y_test = test["Type of glass"]

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i) #initialising the model
  knn.fit(x_train,y_train) # training the model
  print("K value  : " , i, " train score : ", knn.score(x_train,y_train) , " score : ", np.mean(cross_val_score(knn, x_train, y_train, cv=10))) #predicting using the model

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

K value  :  1  train score :  1.0  score :  0.6678947368421053
K value  :  2  train score :  0.8418367346938775  score :  0.7194736842105264
K value  :  3  train score :  0.8520408163265306  score :  0.6834210526315789

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

K value  :  4  train score :  0.7959183673469388  score :  0.6892105263157895
K value  :  5  train score :  0.8010204081632653  score :  0.6786842105263158
K value  :  6  train score :  0.7806122448979592  score :  0.6786842105263158

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

K value  :  7  train score :  0.7346938775510204  score :  0.653157894736842
K value  :  8  train score :  0.7551020408163265  score :  0.6634210526315789
K value  :  9  train score :  0.7244897959183674  score :  0.6526315789473685

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

K value  :  10  train score :  0.7142857142857143  score :  0.6581578947368422
K value  :  20  train score :  0.6938775510204082  score :  0.5813157894736843
K value  :  50  train score :  0.6224489795918368  score :  0.5060526315789473

In [ ]:
manhattan_model = KNeighborsClassifier(3)
manhattan_model.fit(x_train,y_train)
manhattan_model.score(x_train,y_train)

0.8520408163265306

In [ ]:
knn = KNeighborsClassifier(3)
knn.fit(x_train,y_train)
knn.score(x_train,y_train)

0.8520408163265306

In [ ]:
manhattan_model = KNeighborsClassifier(3)
manhattan_model.fit(x_test,y_test)
manhattan_model.score(x_test,y_test)

0.7222222222222222

In [ ]:
knn = KNeighborsClassifier(3)
knn.fit(x_test,y_test)
knn.score(x_test,y_test)

0.7222222222222222

In [ ]:
# Make predictions
manhattan_predictions = manhattan_model.predict(x_test)
euclid_predictions = knn.predict(x_test) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df.head()

   actual  manhattan  euclid
0       1          1       1
1       1          1       1
2       1          1       1
3       2          2       2
4       2          2       2

In [ ]:
manhattan_count = len(df.loc[df['manhattan'] == df['actual']])
euclid_count = len(df.loc[df['euclid'] == df['actual']])
print('Manhattan Accuracy: {}%'.format(round(100*manhattan_count/len(df), 2)))
print ('\n')
print('Square Euclidean Accuracy: {}%'.format(round(100*euclid_count/len(df), 2)))

Manhattan Accuracy: 72.22%


Square Euclidean Accuracy: 72.22%

In [ ]:
def tet2(y):
  test2 = pd.DataFrame(y,columns= 
['radius_mean','texture_mean','perimeter_mean','area_mean','smoothness_mean','compactness_mean','concavity_mean','concave points_mean','symmetry_mean','fractal_dimension_mean'],dtype=float)
  p=xgb_pipeline.predict(test2)
  return p



z = list(map(float,input().split()))
y = [z]
print(tet2(y))
print("Diagnosis [0 - No Yes - 1] :\n Result : ",p[0])

17.99 10.38 122.8 1001 0.1184 0.2776 0.3001 0.1471 0.2419 0.07871

NameError: ignored